@font-face{font-family:'Grotesk';font-style:normal;font-weight:500;font-display:swap;src:url(./fonts/SpaceGrotesk-500.woff2) format('woff2');}
@font-face{font-family:'Grotesk';font-style:normal;font-weight:700;font-display:swap;src:url(./fonts/SpaceGrotesk-700.woff2) format('woff2');}
@font-face{font-family:'Mono';font-style:normal;font-weight:700;font-display:swap;src:url(./fonts/SpaceMono-700.woff2) format('woff2');}
